{% extends '_extends/submenu.html.twig' %}

{% block title 'Settings'|trans({}, 'settings') %}

{% block submenu %}
	{% include "settings/_submenu.html.twig" %}
{% endblock %}

{% block body %}
	<div class="container mx-auto">
		<p class="font-extrabold text-4xl text-center">{{ user.lastname ~ " " ~ user.firstname }}</p>
		user unique
	</div>
{% endblock %}
