<div class="boxtitle">
	<div class="flex justify-center items-center text-center mt-3 w-full">
		<img style="height:20px;" class="mr-3" src="{{ asset('images/logo/logo-lebackoffice-noir.svg') }}" alt="Icone ecowan">
		<span class="font-visby font-bold text-xl">Bienvenue sur Lebackoffice !</span>
	</div>
</div>
<div class="boxpad text-center">
	<p class="font-bold text-xl mt-4">Attention, en naviguant sur lebackoffice, vous vous engagez à ne diffuser aucune information publiquement.</p>
	<p class="text-sm mt-4">L'accès au backoffice est classifiée Restreint. Le niveau de classification peut changer suivant la page consultée. Ce niveau est affiché en permanence en bas et au milieu de chaque page.</p>
	<img class="mt-7 text-center mx-auto select-none w-full" src="https://cdn.ecowan.fr/classification/restreint_cartouche.svg" alt="classification">
	<div class="mt-7 w-full">
		<button onclick="Lightbox.close();createCookieWelcome();" class="waves-effect waves-light xlarge w-full">Accédez au backoffice</button>
	</div>
</div>
