{% extends 'base.html.twig' %}

{% set classification = 'HC' %}

{% block title 'Settings'|trans({}, 'settings') %}

{% block body %}
	{% include "settings/_header.html.twig" %}
	<div class="container mx-auto mt-10">
		<div class="flex flex-col lg:flex-row">
			<div>
				{% include "settings/security/_vertical_menu_main.html.twig" %}
			</div>
			<div class="flex-grow sm:ml-10">
				<p class="font-extrabold text-4xl text-center">{{ 'WebAuthn / FIDO2 setup'|trans({}, 'settings') }}</p>
				{{ showAlert('warning', 'The WebAuthn bundle is being updated to be compatible with Symfony 6. It will be implemented when version 4 will be available.'|trans({}, 'settings') ~ ' <a target="_blanck" href="https://github.com/web-auth/webauthn-framework">https://github.com/web-auth/webauthn-framework</a>.', 'mt-16') }}
			</div>
		</div>
	</div>
{% endblock %}
