{% extends 'base.html.twig' %}

{% block title 'My account'|trans({}, 'account') %}

{% block body %}
	<div class="h-full flex flex-col">
		{% include "account/_menu.html.twig" %}
		<div class="container mx-auto h-full flex-grow">
			<div class="flex justify-center">
				<div class="mt-10 text-center">
					<div id="circle" style="background: linear-gradient(40deg, #FF0080,#FF8C00 70%);" class="my-10 relative rounded-full w-32 h-32 m-auto">
						<div id="crescent" style="transform: scale(0);transform-origin: top right;transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);" class="absolute rounded-full right-0 w-24 h-24 bg-[#F3F3F8] dark:bg-[#101214]"></div>
					</div>
					<p class="font-visby font-bold text-xl mt-5">{{ 'Choose a style'|trans({}, 'account') }}</p>
					<p class="font-medium text-sm mt-3">{{ 'Pop or subtle. Day or night.'|trans({}, 'account') }}<br>{{ 'Customize your interface'|trans({}, 'account') }}</p>
					<input class="radio-tesla" type="radio" id="theme-light" name="selector" checked>
					<input class="radio-tesla" type="radio" id="theme-dark" name="selector">
					<div class="radio-group mt-5">
						<label for="theme-light" onclick="setTheme('light')">
							<i class="fas fa-sun mr-3"></i>Light</label>
						<label for="theme-dark" onclick="setTheme('dark')">
							<i class="fas fa-moon mr-3"></i>Dark</label>
						<div class="selected"></div>
					</div>
					<div class="mark mt-10"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
