{% extends 'base.html.twig' %}

{% block title 'Dashboard' %}

{% block body %}
	<div class="mx-auto bg-red-100 p-5">Dashboard</div>
	<a class="button mt-10" href="{{ path('security.logout') }}">Se déconnecter</a>
{% endblock %}
