<div class="mainMenu">
	<div class="flex items-center justify-between mt-10">
		<a class="logo waves-effect" href="{{ path('home.home') }}">
			<img src="{{ asset(logos.icone) }}" alt="Icone lebackoffice">
			<p>Dashboard</p>
		</a>
		<button class="transparent circle ellipsis">
			<i class="fa-solid fa-fw fa-ellipsis-vertical"></i>
		</button>
	</div>
	<div class="mb-4">
		<button class="transparent circle">
			<i class="fa-solid fa-fw fa-chevron-left"></i>
		</button>
	</div>
</div>
