<aside id="menuMain" data-turbo-permanent>
	<div class="flex items-center justify-center mt-10 px-4">
		<a class="logo waves-effect" href="{{ path('home.home') }}">
			<img src="{{ asset(logos.icone) }}" alt="Icone lebackoffice">
		</a>
	</div>
	<div class="mainMenuItems">
		<a href="/">
			<i class="fa-regular fa-grid-2"></i>
		</a>
	</div>
</aside>
