<footer>
	<div class="container mx-auto flex items-center justify-between border-t pt-4">
		<img data-logolight="{{ asset(logos.light) }}" data-logodark="{{ asset(logos.dark) }}" style="filter: grayscale(100%);" class="h-4 logoprincipal" src="{{ asset(logos.light) }}" alt="Logo lebackoffice">
		<p class="text-sm text-gray-400">Confidentiel</p>
	</div>
</footer>
