<div id='lightbox' class="bg-white dark:bg-gray-900 -z-50">
	<div class='boxtitle'>
		<p>Chargement ...</p>
		<button onclick='Lightbox.close();' class='hidden bg-none shadow-none text-gray-600 waves-effect text-base px-4 py-2'>
			<i class='fa-solid fa-times pointer m-0'></i>
		</button>
	</div>
	<div class='boxpad'>
		<div class="animate-pulse flex mt-5 w-full">
			<div class="rounded-full bg-gray-300 h-12 w-12"></div>
			<div class="flex-1 space-y-4 py-1 ml-5">
				<div class="h-4 bg-gray-300 rounded w-3/4"></div>
				<div class="space-y-2">
					<div class="h-4 bg-gray-300 rounded"></div>
					<div class="h-4 bg-gray-300 rounded w-5/6"></div>
				</div>
			</div>
		</div>
	</div>
</div>
