aside#menuMain {
    @apply flex flex-col justify-between bg-white dark:bg-black rounded-l-lg fixed top-2 bottom-2 w-[100px];

    a.logo {
        @apply flex items-center text-xl text-black font-bold p-2 rounded-full;
        transition: .2s;

        img {
            @apply h-10;
        }

        &:hover {
            @apply bg-gray-100;
        }
    }

    div.mainMenuItems {
        @apply grow flex flex-col items-center text-center border-t pt-4 relative;
        a {
            @apply py-5 px-8 transition duration-100 rounded-lg;

            i {
                @apply text-2xl text-gray-600;
            }

            &:hover {
                background-color: $bg-light;
            }

            &.active i {
                @apply text-blue-500;
            }
        }
    }
}

.dark aside#menuMain div.mainMenuItems a:hover {
    background-color: $bg-dark;
}

div#posMenuMain {
    @apply w-1 h-12 bg-blue-500 absolute rounded-r-md transition;
}