div.mainMenu {
    @apply flex flex-col justify-between h-full;

    a.logo {
        @apply flex items-center text-2xl text-black font-bold p-2 rounded-full;
        transition: .2s;

        img {
            @apply h-10;
        }

        p {
            @apply ml-8 mr-4;
        }

        &:hover {
            @apply bg-gray-100;
        }
    }

    button.ellipsis {
        @apply ml-6 text-lg;
        padding:0 !important;
        width: 40px;
        height: 40px;
    }
}