<div class="flex flex-col h-full justify-between">
	<div class="flex flex-col">
		<div class="linkHub">
			<p class="mainLink">FAVORITES</p>
			<a class="mainLink">Mirage</a>
			<a class="mainLink">Mashroom</a>
			<a class="mainLink">Weedo</a>
			<a class="mainLink">Lonely Walls</a>
		</div>
		<div class="linkHub">
			<p class="mainLink">Essential Bottle</p>
			<a class="mainLink">New Shtetl</a>
			<a class="mainLink">Nintendo</a>
			<a class="mainLink">Mirage</a>
			<a class="mainLink">Mashroom</a>
			<a class="mainLink">Lonely Walls</a>
			<a class="mainLink">Unique</a>
			<a class="subLink">Website</a>
			<a class="subLink">iOS App</a>
			<a class="subLink">Dribble Shot</a>
			<a class="mainLink">Select</a>
			<a class="mainLink">Weedo</a>
			<a class="mainLink">Virgin Galatic</a>
			<a class="mainLink">Zephyr</a>
		</div>
	</div>
</div>
