{% extends '_extends/submenu.html.twig' %}

{% block title 'Settings'|trans({}, 'settings') %}

{% block submenu %}
	{% include "settings/partials/_submenu.html.twig" %}
{% endblock %}

{% block body %}
	<div class="container mx-auto flex ml-5 mt-14 items-center text-2xl">
		<i class="fa-solid fa-left mr-3"></i>
		Sélectionnez un choix dans le menu de gauche
	</div>
{% endblock %}
