div#lightbox {
    @apply absolute top-20 opacity-0 rounded-lg p-5;
    box-shadow: 0 2px 10px rgba(0,0,0,.16);
    transition: .1s;

    div.boxtitle { @apply font-extrabold text-lg font-visby flex justify-between; }

    div.boxpad {
        @apply overflow-auto px-5 pb-2;
        max-height: calc(100vh - 165px);
    }
}