@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Thin.woff') format('woff'),
         url('../fonts/marianne/Marianne-Thin.woff2') format('woff2');
    font-style:normal;
    font-weight:100;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Thin_Italic.woff') format('woff'),
         url('../fonts/marianne/Marianne-Thin_Italic.woff2') format('woff2');
    font-style:italic;
    font-weight:100;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Light.woff') format('woff'),
         url('../fonts/marianne/Marianne-Light.woff2') format('woff2');
    font-style:normal;
    font-weight:300;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Light_Italic.woff') format('woff'),
         url('../fonts/marianne/Marianne-Light_Italic.woff2') format('woff2');
    font-style:italic;
    font-weight:300;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Regular.woff') format('woff'),
         url('../fonts/marianne/Marianne-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Regular_Italic.woff') format('woff'),
         url('../fonts/marianne/Marianne-Regular_Italic.woff2') format('woff2');
    font-style:italic;
    font-weight:normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Medium.woff') format('woff'),
         url('../fonts/marianne/Marianne-Medium.woff2') format('woff2');
    font-style:normal;
    font-weight:500;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Medium_Italic.woff') format('woff'),
         url('../fonts/marianne/Marianne-Medium_Italic.woff2') format('woff2');
    font-style:italic;
    font-weight:500;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Bold.woff') format('woff'),
         url('../fonts/marianne/Marianne-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight:bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-Bold_Italic.woff') format('woff'),
         url('../fonts/marianne/Marianne-Bold_Italic.woff2') format('woff2');
    font-style:italic;
    font-weight:bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-ExtraBold.woff') format('woff'),
         url('../fonts/marianne/Marianne-ExtraBold.woff2') format('woff2');
    font-style:normal;
    font-weight:800;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/marianne/Marianne-ExtraBold_Italic.woff') format('woff'),
         url('../fonts/marianne/Marianne-ExtraBold_Italic.woff2') format('woff2');
    font-style:italic;
    font-weight:800;
    text-rendering: optimizeLegibility;
}