<div class="boxtitle">
	<div class="flex justify-center items-center text-center mt-3 w-full">
		<img style="height:20px;" class="mr-3" src="{{ asset('images/logo/vert-gris/logo-vert-fonce.svg') }}" alt="Icone ecowan">
		<span class="font-visby font-bold text-xl">Bienvenue sur Lebackoffice !</span>
	</div>
</div>
<div class="boxpad text-center">
	<p class="font-medium text-xl mt-4">Attention, en naviguant sur lebackoffice, vous vous engagez à ne diffuser aucune information publiquement.</p>
	<p class="font-medium text-sm mt-4">L'accès au backoffice est classifiée Diffusion Restreinte. Le niveau de classification peut changer suivant la page consultée. Ce niveau est affiché en permanence en bas et au milieu de chaque page.</p>
	<img style="height:70px;" class="mt-7 text-center mx-auto select-none" src="https://cdn.ecowan.fr/confidentialite/T_DR.svg" alt="DR">
	<div class="mt-7 w-full">
		<button onclick="Lightbox.close();createCookieWelcome();" class="waves-effect waves-light xlarge w-full">Accédez au backoffice</button>
	</div>
</div>
