.card_setting {
    @apply card hover:bg-gray-200 dark:hover:bg-gray-500 items-center justify-center flex flex-col;
    transition: .2s;
    min-width: 250px;

    img {
        @apply h-2/6 mb-14;
    }

    p {
        @apply font-visby font-bold text-gray-600 dark:text-gray-200;
    }
}

div.vertical_menu {
    @apply flex flex-col w-full lg:w-80;

    a {
        @apply w-full py-4 px-6 text-lg text-gray-600 font-bold rounded-md my-1;
        transition: .2s;

        &:hover {
            @apply bg-gray-200;
        }

        &.active {
            @apply bg-gray-300;
        }

        i {
            @apply mr-5;
        }
    }
}