{% extends '_extends/simple.html.twig' %}

{% block body %}
<div class="mt-36 mx-2 text-center">
	<div class="flex flex-col items-center justify-center">
		<i class="fas text-9xl mr-7 {% block icon '' %} {% block color '' %}"></i>
		<span class="text-3xl md:text-5xl lg:text-7xl font-visby font-bold mt-10">
			{% block title '' %}
		</span>
	</div>
	<div class="mt-5 md:mt-10 lg:mt-20">
		<span class="text-lg md:text-3xl lg:text-4xl font-marianne">
			{% block description '' %}
			</span>
		</div>
	</div>
{% endblock %}
